<!DOCTYPE html>
<html class="no-js" lang="en-US">

	<head>

		<!-- Meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="dailymotion-domain-verification" content="dm71h1hoo97rytopq" />

		<!-- Title -->
		<title>Matthew Christopher Jones</title>

		<!-- Favicon -->
		<link rel="shortcut icon" href="images/MJ_signature_32.png">

		<!-- Bootstrap -->
		<link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<!-- Animations -->
		<link href="plugins/animate/animate.css" rel="stylesheet" />

		<!-- Font awesome -->
		<link rel="stylesheet" type="text/css" href="plugins/fontawesome/css/font-awesome.min.css" />

		<!-- Linea icons -->
		<link rel="stylesheet" type="text/css" href="plugins/linea/css/linea.css" />

		<!-- Google web fonts -->
		<link href='https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800' rel='stylesheet' type='text/css'>

		<!-- Slick Carousel -->
		<link rel="stylesheet" type="text/css" href="plugins/slick/css/slick.css"/>
		<link rel="stylesheet" type="text/css" href="plugins/slick/css/slick-theme.css"/>

		<!-- Lightbox -->
		<link rel="stylesheet" type="text/css" href="plugins/lightbox/css/lightbox.min.css" />

		<!-- Stylesheet -->
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/media.css"/>

		<!-- Color schema -->
		<link class="colors" rel="stylesheet" href="colors/orange.css" type="text/css"/>

		<!-- ProgressBar -->
		<link rel="stylesheet" href="stylesheets/progress.css"/>

		<!-- Settings (Remove it on your site) -->
		<!--<link rel="stylesheet" href="layout/plugins/settings/settings.css" type="text/css">-->

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="layout/plugins/html5shiv/html5shiv.js"></script>
			<script src="layout/plugins/respond/respond.min.js"></script>
		<![endif]-->

      <!--Google Adsense-->
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
  			(adsbygoogle = window.adsbygoogle || []).push({
    		google_ad_client: "ca-pub-5433412424497789",
    		enable_page_level_ads: true
  			});
		</script>

       <!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-67559167-2"></script>
		<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());
  			gtag('config', 'UA-67559167-2');
		</script>


	</head>

	<body>

		<!-- Loader -->
		<div class="page-loader">
			<div class="line-scale">
				<div class="line line1"></div>
				<div class="line line2"></div>
				<div class="line line3"></div>
				<div class="line line4"></div>
				<div class="line line5"></div>
			</div>
		</div>

		<!-- Header -->
		<header>
			<nav class="navbar">
				<div class="container fixed-top">


					<!--<div class="row">-->

						<!-- Menu button open -->
						<a href="#" class="menu-btn-open">
							<span class="line1"></span>
							<span class="line2"></span>
							<span class="line3"></span>
						</a>

						<!-- Logo -->

							<img class="mcj" src="images/MJ_signature.png"/>


					<!--</div>	-->
				</div>
			</nav>
		</header>

		<!-- Lightbox menu -->
		<div class="menu-lightbox">
			<div class="container">
				<div class="row">

					<!-- Menu button close -->
					<a href="#" class="menu-btn-close">
						<span class="line1"></span>
						<span class="line2"></span>
					</a>

				</div>
			</div>

			<div class="tbl">
				<div class="tbl-cell">

					<!-- Menu -->
					<ul class="menu">
						<li><a href="#about">About</a></li>
						<li><a href="#skills">Skills</a></li>
						<li><a href="#portfolio">Work</a></li>
						<li><a href="https://actualmattjones.tumblr.com/">Blog</a></li>
						<!-- <li><a href="#contact">Contact</a></li> -->
					</ul>

				</div>
			</div>
		</div>

		<!-- Intro -->
		<div id="welcome" class="intro image-bg">

			<!-- Text slider -->
			<div class="intro-text">
				<div class="container">
					<div class="row">

						<span>I’m </span>
						<span class="words-wrapper">
							<b class="is-visible">Matt</b>
							<b>A Web Developer</b>
							<b>A 3D Artist</b>
							<b>A Filmmaker</b>
						</span>

					</div>

				</div>
			</div>

			<!-- Scroll button -->
			<div class="scroll-downs scroll-btn">
				<a class="scroller" href="#about">
					<i class="fa fa-angle-double-down" aria-hidden="true"></i>
				</a>
			</div>

		</div>

		<!-- About -->
		<section id="about" class="about sec-pad waypoint">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">

						<!-- Section title -->
						<div class="section-title">
							<!--<span class="waypoint"></span>-->
							<h1>About Me</h1>
							<p>Christ follower, dad, filmmaker, techie.</p>
						</div>

						<p>
							My name is Matt and I'm based in sunny Tampa, Florida. I've been a filmmaker for most of my life with over 10 years experience in visual arts.
							Most of that experience is in post-production, with an emphasis on video editing, 3D modelling, and design.
							I started learning code in June 2017 and have been practicing full stack development ever since. (I built the website you're on right now!)
							I feel my experience in visual arts like filmmaking, photography, and design, can give me an edge when tackling front end development.
							Technically, my resume says I'm a Film and Video major, but I've learned a lot since college, and don't plan on stopping any time soon!
						</p>

						<a href="/downloads/MatthewChristopherJones.docx" class="btn">
							<i class="fa fa-download"></i> Download Resume
						</a>

					</div>
				</div>
			</div>
		</section>

		<!-- Skills -->
		<section id="skills" class="skills sec-pad alter-bg">
			<div class="container">
				<div class="row">
					<!-- Section title -->
					<div class="section-title text-center col-md-12">
					<h1>My Skills</h1>
						<p>Here are a few of the technologies I've used over the years:</p>
					</div>

					<div class="clearfix"></div>

					<div class="container">
        		<div class="container skills">
        		<div class="row">
        			<div class="col-lg-4 col-xs-12">
        				<div class="premiere-progress skill-font">Premiere Pro</div>
        			</div>
        			<div class="col-lg-4 col-xs-12">
        				<div class="ae-progress skill-font">After Effects</div>
        			</div>
        			<div class="col-lg-4 col-xs-12">
        				<div class="blender-progress skill-font">Blender</div>
        			</div>
        		</div>
                <div class="row">
                    <div class="col-lg-4 col-xs-12">
                        <div class="html-progress skill-font">HTML</div>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        <div class="css-progress skill-font">CSS</div>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        <div class="js-progress skill-font">JavaScript</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-xs-12">
                        <div class="node-progress skill-font">Node.js</div>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        <div class="express-progress skill-font">Express.js</div>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        <div class="mongo-progress skill-font">MongoDB</div>
                    </div>
                </div>

                	<div class="row">
                		<div class="col align-self-center">
                			<div class="beat-progress skill-font">Beatboxing</div>
                		</div>
             	   </div>
     			   </div>
   				 </div>

				</div>
			</div>
		</section>
		<!-- End Service -->

		<!-- Portfolio -->
		<section id="portfolio" class="portfolio sec-pad">

			<!-- Section title -->
			<div class="section-title text-center col-md-12">
				<h1>My Work</h1>
				<p>Some examples of my work as far back as 2017.</p>
			</div>

			<div class="clearfix"></div>

			<!-- Filters -->
			<div class="works-filters clearfix">
				<ul>
					<li class="filter active" data-filter="all">All</li>
					<li class="filter" data-filter=".web">Web Development</li>
					<li class="filter" data-filter=".graphic">Graphic Design</li>
					<li class="filter" data-filter=".film">Film</li>
				</ul>
			</div>

			<!-- Works grid -->
			<ul class="works clearfix">

				<!-- Item 1 -->
				<li class="portfolio-item mix all graphic" data-my-order="1">
					<a href="https://youtu.be/qKzs-K92Rt4" target="_blank" data-title="Ocean" class="link-wrapper">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<img src="images/works/TurtleRender.jpg" alt="" />
								<div class="text">
									<h4>Ocean</h4>
									<p>3D Design</p>
								</div>
							</div>
						</div>
					</a>
				</li>

				<!-- Item 2 -->
				<li class="portfolio-item mix all film" data-my-order="2">
					<a href="https://youtu.be/4zRIBSd4LGM" target="_blank" data-title="24Before" class="link-wrapper">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<img src="images/works/24before_cropped.png" alt="" />
								<div class="text">
									<h4>The 24 Before</h4>
									<p>Film</p>
								</div>
							</div>
						</div>
					</a>
				</li>

				<!-- Item 3 -->
				<li class="portfolio-item mix all film" data-my-order="3">
					<a href="https://youtu.be/uslhjqk25mU" target="_blank" data-title="Getting Past Your Past" class="link-wrapper">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<img src="images/works/GPYP_cropped.png" alt="" />
								<div class="text">
									<h4>Getting Past Your Past</h4>
									<p>Film</p>
								</div>
							</div>
						</div>
					</a>
				</li>

				<!-- Item 4 -->
				<li class="portfolio-item mix all graphic" data-my-order="4">
					<a href="https://youtu.be/Jt-p58Qj4G4" target="_blank" data-title="Enough" class="link-wrapper">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<img src="images/works/Enough_cropped.png" alt="" />
								<div class="text">
									<h4>Enough</h4>
									<p>3D Animation</p>
								</div>
							</div>
						</div>
					</a>
				</li>

				<!-- Item 5 -->
				<li class="portfolio-item mix all graphic" data-my-order="5">
					<a href="images/works/wgc_logo.jpg" data-lightbox="image-1" data-title="Westshore Goods Co." class="link-wrapper">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<img src="images/works/wgc_logo.jpg" alt="Westshore Goods Co." />
								<div class="text">
									<h4>Westshore Goods Co.</h4>
									<p>Logo Design</p>
								</div>
							</div>
						</div>
					</a>
				</li>

				<!-- Item 6 -->
				<li class="portfolio-item mix all film" data-my-order="6">
					<a href="https://www.youtube.com/watch?v=fykXp3fC5ps" target="_blank" data-title="Empire" class="link-wrapper">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<img src="images/works/Empire-cropped.jpg">
								<div class="text">
									<h4>Empire</h4>
									<p>Film</p>
								</div>
							</div>
						</div>
					</a>
				</li>

				<!-- Item 7 -->
				<li class="portfolio-item mix all graphic" data-my-order="7">
					<a href="https://vimeo.com/249253778" target="_blank" data-title="Cubes Motion Graphic" class="link-wrapper">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<img src="images/works/cubes.png" alt="Cubes Motion Graphic">
								<div class="text">
									<h4>Cubes</h4>
									<p>Motion Graphics</p>
								</div>
							</div>
						</div>
					</a>
				</li>

				<!-- Item 8 -->
				<li class="portfolio-item mix all web" data-my-order="8">
					<a href="https://polar-river-27352.herokuapp.com/" target="_blank" data-title="Fun Lan" class="link-wrapper">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<img src="images/works/launchpad-showcase.jpg" alt="LaunchPad web design for startup" />
								<div class="text">
									<h4>LaunchPad</h4>
									<p>Web Development</p>
								</div>
							</div>
						</div>
					</a>
				</li>

				<!-- Item 9 -->
				<li class="portfolio-item mix all graphic" data-my-order="9">
					<a href="images/works/womensThatsMyBurg_white.jpg" data-lightbox="image-5" data-title="That's My Burg MockUp" class="link-wrapper">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<img src="images/works/womensThatsMyBurg_white.jpg" alt="" />
								<div class="text">
									<h4>"That's My Burg" T-shirt MockUp</h4>
									<p>Graphic Design</p>
								</div>
							</div>
						</div>
					</a>
				</li>

				<!-- Item 10 -->
				<li class="portfolio-item mix all film" data-my-order="10">
					<a href="https://www.youtube.com/watch?v=MRcAzTHuixA" target="_blank" data-title="Company Site" class="link-wrapper">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<img src="images/works/dodgebrawl-cropped.jpg" alt="Dodge Brawl Promo 2017" />
								<div class="text">
									<h4>Dodge Brawl Promo</h4>
									<p>Film</p>
								</div>
							</div>
						</div>
					</a>
				</li>

				<!-- Item 11 -->
				<li class="portfolio-item mix all graphic" data-my-order="11">
					<a href="https://actualmattjones.tumblr.com/post/169445758440/day-9-sushi" target="_blank" data-title="3D Modeling" class="link-wrapper">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<img src="images/works/sushi.png" alt="Sushi 3D Modeling Scene" />
								<div class="text">
									<h4>"Sushi"</h4>
									<p>3D Modeling</p>
								</div>
							</div>
						</div>
					</a>
				</li>

				<!-- Item 12 -->
				<li class="portfolio-item mix all film" data-my-order="12">
					<a href="https://www.youtube.com/watch?v=e5cMJxjgQ2c" target="_blank" data-title="Evidence" class="link-wrapper">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<img src="images/works/evidence-cropped.jpg" alt="" />
								<div class="text">
									<h4>Evidence</h4>
									<p>Film</p>
								</div>
							</div>
						</div>
					</a>
				</li>

			</ul>

		</section>

		<!-- Testimonials -->
		<section class="testimonials sec-pad alter-bg">

			<!-- Section title -->
			<div class="section-title text-center col-md-12">
				<h1>Testimonials</h1>
				<p>Here are some people who have some nice things to say!</p>
			</div>

			<div class="clearfix"></div>

			<!-- Reviews -->

			<div class="multiple-items">
				<div>
					<img class="testimonial" src="images/testimonials/sonny.jpg">
					<h2>Sonny</h2>
					<h5>mepower.me</h5>
					<p>Matt did an amazing job! Was extremely responsive, pleasant, well qualified and paid attention to detail.
					we had a complex video and he took the time to make it right for us. Just what anyone is looking for in a video team.
					The quality of the video come out professional. Something we can be proud to use. Thank you Matt!</p>
				</div>
				<div>
					<img class="testimonial" src="images/testimonials/mom.jpg">
					<h2>Mom</h2>

					<p>"He's a good kid."</p>
				</div>

			</div>


			<div class="clearfix"></div>

		</section>



		<!-- Contact -->
		<!-- <section id="contact" class="contact sec-pad"> -->
			<!-- <div class="container"> -->
				<!-- <div class="row"> -->

					<!-- Section title -->
					<!-- <div class="section-title text-center col-md-12"> -->
						<!-- <h1>Get in touch</h1> -->
						<!-- <p>LIMITED TIME ONLY: Grab a fresh web design and a full year of hosting starting at just $300!</p> -->
					<!-- </div> -->


					<!-- <div class="contact-holder justify-content-center row"> -->

						<!-- Contact form -->
      					<!-- <div class="col-md-auto contact-left"> -->
						  	<!-- <div class="contact-form"> -->

      							<!-- <form method="POST" action="/send" name="send-message" novalidate> -->

									<!-- <div class="form-group"> -->
								  		<!-- <input type="text" class="form-control" placeholder="Name" id="name" name="name" required data-validation-required-message="Please enter your name."> -->
								  		<!-- <p class="help-block text-danger"></p> -->
									<!-- </div> -->

									<!-- <div class="form-group"> -->
								  		<!-- <input type="email" class="form-control" placeholder="Email" id="email" name="email" required data-validation-required-message="Please enter your email address."> -->
								  		<!-- <p class="help-block text-danger"></p> -->
									<!-- </div> -->

									<!-- <div class="form-group"> -->
								  		<!-- <input type="tel" class="form-control" placeholder="Phone" id="phone" name="phone" required data-validation-required-message="Please enter your phone number."> -->
								  		<!-- <p class="help-block text-danger"></p> -->
									<!-- </div> -->

									<!-- <div class="form-group"> -->
								  		<!-- <textarea class="form-control" placeholder="Message" id="message" name="message" rows="3" cols="40" required data-validation-required-message="Please enter a message."></textarea> -->
								  		<!-- <p class="help-block text-danger"></p> -->
									<!-- </div> -->

								  	<!-- <div id="success"></div> -->

								  	<!-- <button type="submit" class="submit btn pull-right"> -->
										<!-- <i class="fa fa-paper-plane"></i> Send Message -->
									<!-- </button> -->

							  	<!-- </form> -->

      						<!-- </div> -->
      					<!-- </div> -->

						<!-- Contact info -->
      <!--					<div class="col-md-auto contact-right">-->



						<!--  	<div class="contact-box">-->
						<!--  		<div class="icon icon-basic-smartphone"></div>-->
						<!--  		<h3>Phone Number</h3>-->
						<!--  		<p>(424) 245 0769</p>-->
						<!--  	</div>-->

						<!--	<div class="contact-box">-->
						<!--  		<div class="icon icon-basic-webpage-multiple"></div>-->
						<!--  		<h3>Website</h3>-->
						<!--  		<p><a href="http://matthewchristopherjones.com">www.matthewchristopherjones.com</a></p>-->
						<!--  	</div>-->

						<!--  	<div class="contact-box">-->
						<!--  		<div class="icon icon-basic-mail"></div>-->
						<!--  		<h3>Email</h3>-->
						<!--  		<p><a href="/cdn-cgi/l/email-protection#f1949c90989db1829885949f909c94df929e9c"><span class="__cf_email__" data-cfemail="b3d6ded2dadff3c0dac7d6ddd2ded69dd0dcde">[email&#160;protected]</span></a></p>-->
						<!--  	</div>-->

						<!--</div>-->

					<!-- </div> -->

				<!-- </div> -->
			<!-- </div> -->
		<!-- </section> -->

		<!-- Footer -->
		<footer>
		  	<div class="container">
			 	<div class="row">

					<!-- Social links -->
			   		<div class="social-icon">
						<a href="https://twitter.com/actualmattjones"><i class="fa fa-fw fa-twitter"></i></a>
						<a href="https://actualmattjones.tumblr.com/"><i class="fa fa-fw fa-tumblr"></i></a>
				 		<a href="https://www.instagram.com/actualmattjones/"><i class="fa fa-fw fa-instagram"></i></a>
						<a href="https://github.com/mjones129"><i class="fa fa-github"></i></a>
					</div>

					<!-- Copyright -->
					<div class="copyright">
				 		Copyright © 2018 <a href="#" target="_blank">Matthew Christopher Jones</a>
					</div>

			 	</div>
		  	</div>
		</footer>

		<!-- jQuery -->
		<script type="text/javascript" src="plugins/jquery/jquery-3.2.1.min.js"></script>
		<script src="plugins/jquery/jquery-migrate-1.4.1.min.js"></script>
		<script src="plugins/jquery/email-decode.min.js"></script>
		<!--Popper.js-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>

		<!-- Bootstrap -->
		<script type="text/javascript" src="plugins/bootstrap/js/bootstrap.min.js"></script>

		<!-- Plugins -->
    <script type="text/javascript" src="plugins/backstretch/jquery.backstretch.min.js"></script>
		<script type="text/javascript" src="plugins/progressbar/progressbar.min.js"></script>
		<script type="text/javascript" src="plugins/slick/js/slick.min.js"></script>
		<script type="text/javascript" src="plugins/mixitup/mixitup.min.js"></script>
		<script type="text/javascript" src="plugins/lightbox/js/lightbox.min.js"></script>
		<script type="text/javascript" src="plugins/wow/wow.min.js"></script>
		<script type="text/javascript" src="plugins/validation/jqBootstrapValidation.js"></script>
		<script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>

		<!-- Main -->
    	<script type="text/javascript" src="js/main.js"></script>
    	<!--<script type="text/javascript" src="layout/js/knowledge.js"></script>-->

		<!-- Settings (Remove it on your site) -->
		<!--<script type="text/javascript" src="layout/plugins/settings/jquery.cookies.min.js"></script>-->
		<!--<script type="text/javascript" src="layout/plugins/settings/settings.js"></script>-->

	</body>
</html>
