a:hover, 
a:focus,
.btn,
.navbar .logo > span,
.menu-lightbox .menu li a:hover,
.works-filters li:hover,
.contact-box .icon,
#contact-form .text-danger,
footer .copyright > a {
	color:#BF0039;
}

.line-scale .line,
.intro-text .words-wrapper,
.works-filters li.active,
.testimonials .owl-theme .owl-dot.active span,
.btn:hover, .btn:active, .btn:focus,
.blog .side-content .tags .tag {
	background-color:#BF0039;
}

.blog .side-content .tags .tag:hover {
  	background-color:rgba(255, 87, 68, 0.8);
}

.btn,
.form-control:focus,
input:focus, textarea:focus, select:focus {
	border-color:#BF0039;
}
